<header>
    <nav>
        <a href="/">The Ortho Cup</a>
        <ul>
            <li><a href="/golfers">Home</a></li>
            <li><a href="/golfers/new">New Golfer</a></li>

        </ul>
    </nav>
</header>