
<header id="headerNav">
    <p id="title">The Ortho Cup</p>
    <nav id="navBar" >
        <a href="/">Home Page</a>
        <a href="/golfers">Golfer directory</a>
        <a href="/golfers/new">New Golfer</a>
        <a href="/golfers/admin">Admin Page</a>

    </nav>
</header>